<!-- side navbar that gives admin the option to shoose to manage volunteers or opportunites and select filters below -->
<div class="fixed inset-0 top-[3.55rem] left-[max(0px,calc(50%-45rem))] right-auto px-6 border-r border-slate-400 dark:text-neutral-100">
    <div class="flex flex-col items-start text-lg border">
        <a class="my-2" (click)="managing='volunteers'" routerLink="/admin/search">Volunteers</a>
        <a class="mb-2" (click)="managing='opportunities'" routerLink="/admin/search">Opportunities</a>
    </div>
    <div class="flex flex-col items-start text-lg border" *ngIf="managing">
    </div>
</div>