<div class="flex justify-center items-center h-screen">
    <form class="text-slate-900 dark:text-white" [formGroup]="fg" (ngSubmit)="login()">

        <div class="m-3 p-1">
            <label for="userName">User name</label>
            <input class="my-1 rounded block text-slate-900" type="text" id="userName" formControlName="userName">
        </div>

        <div class="m-3 p-1">
            <label for="password">Password</label>
            <input class="my-1 rounded block text-slate-900" type="password" id="password" formControlName="password">
        </div>

        <div class="flex justify-center">
            <button class="m-3 px-2 py-1 rounded bg-green-600 hover:bg-green-700" type="submit">Login</button>
        </div>
        
    </form>
</div>
