<!-- search page with filters on right and serach bar on top -->lass="fle"
<form [formGroup]="fg" class="sm:w-4/5 mx-auto mt-12">
    <div class="flex flex-col items-center justify-center">
        <div class="grow" id="searchBar">
            <div class="flex justify-center items-center"
            >
                <input class="m-3 p-1 rounded text-slate-900 grow" type="text" id="search" placeholder="Search" formControlName="search">
                <button class="m-3 px-2 py-1 rounded bg-green-600 hover:bg-green-700" type="submit">Search</button>
            </div>

        </div>
        <!-- side bar for filters -->
        <div class=""></div>
    </div>
</form>